name: Simple CI

on: [push, pull_request]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: |
        pip install pytest pytest-cov nuitka
        sudo apt install patchelf -y
    
    - name: Run tests
      run: pytest tests/ -v
    
    - name: Build application
      run: python -m nuitka --standalone main.py
